fastapi
uvicorn
python-multipart

easyocr
opencv-python
pillow

google-generativeai
python-dotenv

chromadb
sentence-transformers

langgraph
langchain
langchain-core

pypdf
pymupdf

sqlalchemy

pydantic

langchain-text-splitters

sentence-transformers
faiss-cpu

langchain-huggingface

google-genai

python-docx
reportlab
